# Build artifacts
/target/
/build/

# Logs
/logs/
/*.log
**/*.log

# IDE noise
/.idea/
/*.iml

# OS junk
.DS_Store
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

/reversed_bookings_log.csv
uploads/
application/
